<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>SPACE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lore.css') }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <script src="https://kit.fontawesome.com/dafcb76e72.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="/">Home</a>
            <!-- <a href="#">Lore</a> -->
            <a href="#">Code</a>
            <!-- <a href="/auth">Surprise</a> -->
        </nav>
    </header>
    <div class="TxT">
        <h1>The origin..</h1>
      <div class="Lore">
        <p>
          Passion is found at a young age they say, everyone has to start somewhere well at the point of me writing this I still have not accompolished much per se.. <br>
          but still I have passed high school, managed to get in a decent enough college and am still motivated enough to continue pursuing my passion. What entails is not <br>
          a very interesting tale but nevertheless it is a memory that I cherish and I will continue to until forever.<br><br>
          Way back in 3rd grade I got gifted a set of encyclopedias, from my cousin. And among that miniature system I found a star which was going to change my life<br>
          The book about space that's it, as simple as that. Everything in that book was something that I fell in love with instantly, too young to understand anything but<br>
          what pulled me in(literally) were the vivid illustrations of the mysterious black holes, beautiful nebuals, grand galaxies, the marvellous machines that we call rockets, everything.<br>
          Ever since, I made it my life's goal to become an astronaut and this single goal of mine has managed to <br>
          keep me going no matter what and it is something I am truly grateful for...........<br><br>
        </p>
      </div>
        <div class="Quote">
          <p>
            "Remember to look up at the stars and not down at your feet.<br> 
            Try to make sense of what you see and wonder about what makes the universe exist.<br>
            Be curious. And however difficult life may seem,<br> 
            there is always something you can do and succeed at. It matters that you don’t just give up."<br>
           ~Stephan Hawking
          </p>
        </div>
    </div>
    <!-- <div class="container">
        <div class="center">
          <button class="btn">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>Let's launch</span>
          </button>
        </div>
      </div> -->
</body>